<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include head.liquid %}

    <title>
      {% if page.title %}
        {{ page.title }} ·
      {% endif %}

      {{ site.title }}
    </title>

    <link rel="stylesheet" media="all" href="/css/main.css" />
  </head>

  <body>
    <div class="main-area">
      <nav class="navbar navbar-inverse bg-inverse">
        <div class="container">
          <a href="/" title="{{ site.title }}" class="navbar-brand">MdT</a>

          <ul class="navbar-nav pull-right">
            <li class="nav-item">
              <a title="Pesquisa" class="nav-link btn btn-secondary-outline" href="/search">
                <i class="fa fa-search"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      {% if page.layout_top %}
        <div class="layout-top">{{ page.layout_top }}</div>
      {% endif %}

      <div class="container main-container">
        {{ content }}
      </div>
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-6">
            <h1>Ajuda e FAQ</h1>

            <ul class="list-unstyled">
              <li><a href="/pages/o-que-e-rpg">O que é RPG?</a></li>
              <li><a href="/pages/o-que-e-storytelling">O que é Storytelling?</a></li>
            </ul>
          </div>

          <div class="col-sm-4 col-xs-6">
            <h1>Sobre nós</h1>

            <ul class="list-unstyled">
              <li><a href="mailto:contato@mundodastrevas.com">Entre em contato</a></li>
              <li><a href="/pages/terms">Termos de Uso</a></li>
            </ul>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 social-links">
            <a title="Mundo das Trevas no Facebook" target="_blank" href="https://facebook.com/mundodastrevas">
              <i class="fa fa-facebook-official"></i>
            </a>

            <a title="Mundo das Trevas no Twitter" target="_blank" href="https://twitter.com/mundodastrevas">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>

        <div class="legal">
          <p>
            <small>
              Os conteúdos aqui publicados são de responsabilidade de seus autores. Não os copie sem permissão.
            </small>
          </p>

          <p>&copy; Comunidade Mundo das Trevas {{ site.time | date: '%Y' }}</p>
        </div>
      </div>
    </footer>
  </body>
</html>
